@charset  "utf-8";
.wrap{
    width: 1200px;
    height: 700px;
}
.inner{text-align: center;

    background-color: aquamarine;
    margin: 0 auto;
}

/* header영역 */
.header{
    width: 100px;
    background-color: aquamarine;
    
}
.logo{width:20%;
    height: 100px;
    float: left;
    background-color: rgb(192, 253, 253);
    line-height: 100px;
}
.menu{width: 1200px;
height: 100px;
    background-color: beige;
    line-height: 100px;
}
.image{width: 1200px;
    height: 150px;
    background-color: rgb(192, 192, 253);
   
}
.slide{width: 1200px;
    height: 150px;
    background-color: rgb(168, 255, 226);
    line-height: 150px;
}
.notice{width: 400px;
height: 200px;
    float: left;
    background-color: rgb(252, 222, 178);
    line-height: 200px;
}
.gallery{width: 400px;
    height: 200px;
    float: left;
    background-color: rgb(187, 252, 252);
    line-height: 200px;
}
.banner{width: 400px;
    height: 200px;
    float: right;
background-color: rgb(226, 196, 255);
line-height: 200px;
}
.rogo{width: 20%;
    height: 100px;
    float: left;
    background-color: rgb(146, 243, 146);
    line-height: 100px;
}
.copy{width: 70%;
    height: 100px;
    float: left;
    background-color: rgb(236, 255, 153);
    line-height: 100px;
}
.famillysight{width: 10%;
    height: 100px;
    float: left;
    background-color: rgb(255, 188, 198);
    line-height: 100px;
}