@charset "utf-8";
.wrap{
   margin: auto;
   text-align: center;
}
     .inner{width: 1200px;
         height: 700px;
          background-color: rgb(147, 176, 255);}
    
     
     /*header 영역*/
     .header{
        
      position: relative;
        width: 1200px;
        height: 100px;
        background-color: beige;}
     .rogo{
      display: block;
      width: 20%; height: 100px;
      float: left;
        background-color: rgb(234, 241, 241);
      }

.menu{
   position: absolute;
   left: 20%;
   width: 80%; height: 100px;
    background-color: rgb(165, 89, 236);
    
   }
  
     /* B 영역*/
      .slide{width: 100%; 
         height: 300px;
         position: relative;
      }
img{
   position: absolute;
         bottom: 50%;
         right: 50%;
         transform: translate(50%, 50%);
      }

/*contents 영역*/
     .contents{
        background-color: rgb(247, 102, 102);}
     .gall{width: 400px;
      height: 200px;
      float: left;
        background-color: rgb(200, 241, 152);}
     .banner{width: 400px;
      height: 200px;
      float: left;
        background-color: rgb(179, 255, 91);}
     .link{width: 400px;
         height: 200px;
         float: left;
         background-color: rgb(91, 248, 85);}

        /*footer영역*/

        .logo{
         width:20% ;
         height: 100px;
         float: left;
         background-color:rgb(211, 165, 255);
         }
.Copyright{
   width: 70%;
   height: 100px;
   float: left;
    background-color: rgb(253, 117, 242);}
.sns{width: 10%;
   height: 100px;
   float: left;
    background-color: rgb(172, 93, 247);}